$purple-color: #3C336C;
$green-color: #309F85;
$inactive-color: #C4C4C4;
$dark-color: #272525;
$dark-grey-color: #454747;

$font-family-base: 'Gilroy', sans-serif;

$br-6: 6px;
$br-15: 15px;
$br-90: 90px;

$transition-duration: 0.2s;
